{{>layouts/header}}

<div class="container text-center my-5">
    <a href="/movies1">
        <img src="/imgs/img1.jpg" alt="메인 이미지"
             class="img-fluid rounded shadow"
             style="max-width: 200px;">
    </a>
    <a href="/movies2">
        <img src="/imgs/img2.jpg" alt="메인 이미지"
             class="img-fluid rounded shadow"
             style="max-width: 250px;">
    </a>
    <a href="/movies3">
        <img src="/imgs/img3.jpg" alt="메인 이미지"
             class="img-fluid rounded shadow"
             style="max-width: 200px;">
    </a>
</div>

{{>layouts/footer}}