{{>layouts/header}}

<!-- con -->
<form class="container" action="/movie/2/create" method="post">

    <div class="mb-3">
        <label class="form-label">유저명</label>
        <input type="text" class="form-control" name="username">
    </div>
    <div class="mb-3">
        <label class="form-label">실관람 후기</label>
        <textarea class="form-control" rows="3" name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">작성완료</button>

    <a href="/movies2">목록화면</a>
</form>

{{>layouts/footer}}